
<nav>
    <div class="nav-content">
        <a href="/" class="logo">Cinema</a>
        {% if user.is_authenticated %}

        <a href="{% url "cart_add" %}" class="btn cart-link">
            <i class="fas fa-shopping-cart"></i> Cart ({{ticket_counts}}) 
        </a>

        <div class="nav-links">
            <a href="/" class="btn">Movies</a>
        
           <form method="POST" action='{% url "logout" %}'>
            {% csrf_token %}
            <button type="submit" class="logout-btn">Log Out</button>
            </form>
        </div>
    {% endif %}
    </div>
</nav>